<% provide(:title, 'Calculus')%>

<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
    body 
    {
        background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
    }
</style>
<body>
       <header> <!------ Include the above in your HEAD tag ---------->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <%= link_to "Prunch", home_path, class: 'navbar-brand'%>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item <%= active_class(algebra_path) %>">
                <%= link_to "Algebra", algebra_path, class: 'nav-link'%>
              </li>
              <li class="nav-item <%= active_class(trig_path) %>">
                <%= link_to "Algebra II / Trig", trig_path, class: 'nav-link'%>
              </li>
              <li class="nav-item <%= active_class(calculus_path) %>">
                <%= link_to "Calculus", calculus_path, class: 'nav-link'%>
              </li>
              <li class="nav-item <%= active_class(stem_path) %>">
                <%= link_to "Stem", stem_path, class: 'nav-link'%>
              </li>
              <li class="nav-item <%= active_class(rec_path) %>">
                <%= link_to "Recommend a Calculator", rec_path, class: 'nav-link'%>
              </li>
            </ul>
          </div>
        </nav>
    </header>
    <main>
       <!-- Nav tabs -->
<ul class="nav nav-tabs">
  <li class="nav-item <%= active_class(calculus_path) %>">
    <%= link_to "Home", calculus_path, class: 'nav-link'%>
  </li>
  <li class="nav-item <%= active_class(derivative_path) %>">
    <%= link_to "Derivatives", derivative_path, class: 'nav-link'%>
  </li>
  <li class="nav-item<%= active_class(integral_path) %>">
    <%= link_to "Integrals", integral_path, class: 'nav-link'%>
  </li>
  <li class="nav-item<%= active_class(sequence_path) %>">
    <%= link_to "Sequences and Series", sequence_path, class: 'nav-link'%>
  </li>
  <li class="nav-item<%= active_class(limit_path) %>">
    <%= link_to "Limits", limit_path, class: 'nav-link'%>
  </li>
</ul>
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane container active"> 
    <div class="container">
         <div class="row justify-content-center">
            <div class="col=12 mt-4">
                <div class="jumbotron ">
                  <h1 class="text-center display-4">Calculus</h1>
                  <p class="lead">You are on the Calculus Page. Choose a subject you need help on.</p>
            </div>
         </div>
        </div>
     </div>
      <div class="container">
       <div class="row">
          <div class="col-sm-6 text-center">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-center display-5">Derivatives</h5>
                  <%= button_to "Go to Derivative Calculators", derivative_path, :id => "open-contacts-dialog-btn", :class=> "btn btn-primary", :method => :get %>
              </div>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-center display-5">Integrals</h5>
                  <%= button_to "Go to Integral Calculators", integral_path, :id => "open-contacts-dialog-btn", :class=> "btn btn-primary", :method => :get %>
              </div>
            </div>
          </div>
          </div>
        </div>
        </div>
        <br>
       <div class="container">
        <div class="row">
          <div class="col-sm-6 text-center">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-center display-5">Sequences</h5>
                  <%= button_to "Go to Sequence Calculators", sequence_path, :id => "open-contacts-dialog-btn", :class=> "btn btn-primary", :method => :get %>
               </div>
             </div>
           </div>
           <div class="col-sm-6 text-center">
             <div class="card" style="width: 33rem;">
              <div class="card-body">
                <h5 class="card-title text-center display-5">Limits</h5>
                  <%= button_to "Go to Limit Calculators", limit_path, :id => "open-contacts-dialog-btn", :class=> "btn btn-primary", :method => :get %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
    </main>
</body>
